@import "./variables";
@import "./mode-body.scss";
@import "./global-rules";
::-webkit-scrollbar {
  width: 6px !important;
}

::-webkit-scrollbar-thumb {
  background-color: #121212;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #000;
}

.navbar {
  box-shadow: 0 0 0 #aaa;
  transition: all 0.3s ease-in-out;
  .navbar-nav {
    .nav-item {
      text-align: center;
      .nav-link {
        color: black !important;
        text-align: center;
        &.active,
        &:hover {
          color: $main-color !important;
        }
        &.active:hover {
          color: $alt-color !important;
        }

        &:hover {
          color: $alt-color !important;
        }
      }
      .toggleMode {
        color: black !important;
        text-align: center;
        &.active,
        &:hover {
          color: $main-color !important;
        }
        &.active:hover {
          color: $alt-color !important;
        }

        &:hover {
          color: $alt-color !important;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .navbar {
    .container-fluid {
      padding: 0;
      .navbar-brand {
        margin-left: 15px;
      }
      .navbar-toggler {
        margin-right: 15px;
      }
      .navbar-nav {
        background-color: #121212;
        position: relative;
        top: 9px;
        height: 100vh;
        .nav-item {
          svg {
            transition: all 0.3s ease-in-out;
            color: white !important;
            &.active {
              color: $alt-color !important;
              &:hover {
                color: $main-color !important;
              }
            }
            margin: 10px 0;
            color: white !important;
            &:hover {
              color: $alt-color !important;
            }
          }
          .nav-link {
            &.active {
              color: $alt-color !important;
              &:hover {
                color: $main-color !important;
              }
            }
            margin: 10px 0;
            color: white !important;
            &:hover {
              color: $alt-color !important;
            }
          }
        }
      }
    }
  }
}

.landing {
  .container-fluid {
    .row {
      .column {
        position: relative;
        height: 100vh;
        overflow: hidden;
      }
      .text-col {
        .text-box {
          position: absolute;
          top: 50%;
          right: 0%;
          transform: translate(10%, -50%);
          width: 100%;
          small {
            color: #666;
          }
          p {
            color: #666;
            margin: 13px 0 14px 0;
            width: 80%;
          }
          button {
            background-color: $main-color;
            color: white;
            box-shadow: none !important;
            padding: 15px 16px;
            margin-top: 11px;
            transition: all 0.3s ease-in-out;
            &:hover {
              color: $alt-color;
              background-color: white;
            }
          }
        }
      }
      .img-col {
        img {
          position: absolute;
          top: 50%;
          right: 50%;
          transform: translate(50%, -50%);
          width: $big-image-size;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .landing {
    .container-fluid {
      .row {
        .column:first-child {
          position: relative;
          height: 60vh;
          .text-box {
            position: absolute;
            top: 50%;
            left: 45%;
            transform: translate(-44%, -50%);
            text-align: center;
            p {
              color: #666;
              width: 41%;
              margin: 13px auto 14px auto;
            }
          }
        }
        .column.img-col {
          height: 60vh;
          img {
            top: 36%;
          }
        }
      }
    }
  }
}

.about {
  .container {
    margin-top: 150px;
    .img-col {
      img {
        width: $big-image-size;
        height: auto;
      }
    }
  }
  .column {
    height: calc(100vh - 150px);
  }
  .column:last-child {
    text-align: left;
  }
}

@media (max-width: 991px) {
  .about {
    .container {
      .row {
        .column:last-child {
          text-align: center;
          position: relative;
          bottom: 158px;
        }
      }
    }
  }
}

// *********************************************
// ***************** animation *****************
// *********************************************
